{% extends "learning_logs/base.html" %}

{% block header %}
    <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a>
    </p>

    {% for entry in entries %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    {# 竖线表示过滤器，对模板变量的值进行修改的函数#}
                    {# 过滤器date:'M d, Y H:i' 以January 1, 2017, 23:00#}
                    {{ entry.date_added|date:'M d, Y H:i' }}
                    <small>
                        <!-- 在每个条目结尾进行编辑 -->
                        <a href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry</a>
                    </small>
                </h3>
            </div>
        </div>
        <div class="panel-body">
             {# 过滤器linebreaks将包含换行符的长条目转换为浏览器能够理解的格式#}
             {{ entry.text|linebreaks }}
        </div> <!-- panel -->
    {% empty %}
        There are no entries for this topic yet.
    {% endfor %}
{% endblock content %}